
/RailsApplication1/nbproject
/RailsApplication1/db/schema.rb
/RailsApplication1/nbproject
/RailsApplication1/config/database.yml
/RailsApplication1/Gemfile.lock
/RailsApplication1/Gemfile.lock
/WriteBoard/Gemfile.lock
/WriteBoard/nbproject
/WriteBoard/config/database.yml