<div>
  Title:
  <%= @note.title %>
</div>
<div>
  Content:
  <%= n2br @note.content %>
</div>
<div>
  <%= link_to "Edit", edit_note_path(@note) %>
  <%= link_to "Delete", note_path(@note), :method => :delete %>
</div>